<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="img-src 'self' data:; default-src 'self'; script-src 'self'">

        <!-- Bootstrap -->
        <link href="./style/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
        <script src="./style/bootstrap/bootstrap.bundle.min.js"></script>
        
        <!-- add -->
        <link href="./style/style.css" rel="stylesheet"></link>

        <title>FotoCaptioner</title>
    </head>
    <body class="d-flex h-100 text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto text-center">
                <div>
                    <h3 class="float-md-start mb-0">FotoCaptioner</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link" aria-current="page" href="./index.html">Landing</a>
                        <a class="nav-link active" aria-current="page" href="./generator.html">Generator</a>
                    </nav>
                </div>
            </header>
            
            <main>
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <div class="row" id='container-selector'>
                                <div class="col-12">
                                    <h1>Photo Loader</h1>
                                </div>
                                <div class="col-12 mb-3">
                                    <img id="img-photo" src="./asset/example.jpg" class="rounded img-fluid" alt="Select your photo.">
                                </div>
                                <div class="col-12 mb-3">
                                    <div class="btn-group d-flex" role="group">
                                        <button type="button" class="btn btn-light" id="button-select-photo"><b>Select Photo</b></button>
                                        <button type="button" class="btn btn-primary" id="button-demo"><b>Read EXIF data</b></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-4" id="right-side-container">
                            <div class="row gy-3 px-1">
                                <div class="col-12">
                                    <div class="row" id='container-config'>
                                        <div class="col-12">
                                            <h1>Caption Config</h1>
                                        </div>
                                        <div class="col-12">
                                            <form>
                                                <div class="form-floating m-2 w-100">
                                                    <input type="text" class="form-control" id="inputTitle" placeholder=" ">
                                                    <label class="text-black" for="inputTitle">Title</label>
                                                </div>
                                                <div class="form-floating m-2 w-100">
                                                    <input type="text" class="form-control" id="inputContent" placeholder=" ">
                                                    <label class="text-black" for="inputContent">Content</label>
                                                </div>
                                                <div class="input-group m-2 d-flex">
                                                    <span class="input-group-text">#</span>
                                                    <input type="text" class="form-control" placeholder="Hashtag" aria-describedby="hashtag-add" id="hashtag-text">
                                                    <button class="btn btn-outline-light" type="button" id="hashtag-add">Add</button>
                                                </div>
                                                <div class="m-2" id="container-hashtag">
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row" id='container-reader'>
                                        <div class="col-12">
                                            <h1>EXIF Reader</h1>
                                        </div>
                                        <div class="col-12">
                                            <ul>
                                                <li id="photo-machine">Machine : </li>
                                                <li id="photo-f-number">F-number :</li>
                                                <li id="photo-et">Exposure Time : </li>
                                                <li id="photo-iso">ISO </li>
                                                <li id="photo-fl">Focal Length : </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="row" id='container-reader'>
                                        <div class="col-12">
                                            <h1>Caption Preview</h1>
                                        </div>
                                        <div class="col-12 m-2">
                                            <div class="btn-group d-flex" role="group">
                                                <button type="button" class="btn btn-warning" id="button-preview">Preivew</button>
                                                <button type="button" class="btn btn-primary" id="button-copy-text">Copy</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <div class="position-fixed bottom-0 end-0 p-3" id="container-toast">
                <div id="toast-copy" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body text-black">
                            Successful copy text !
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>
            <div class="position-fixed bottom-0 end-0 p-3" id="container-preview">
                <div id="toast-preview" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body text-black" id="toast-preview-text">
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
            </div>

            <footer class="mt-auto text-white-50 text-center">
                <p>Made by <a class="text-white" href="https://rockleona.github.io/intro" target="_blank">RockLeona</a> with ♥.</p>
            </footer>
        </div>
    </body>
    <script src="../node_modules/exif-js/exif.js"></script>
    <script src="./script/generator/frontend.js"></script>
    <script src="./script/generator/photo_loader.js"></script>
    <script src="./script/generator/captioner.js"></script>
</html>