<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

        <!-- Bootstrap -->
        <link href="./style/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
        <script src="./style/bootstrap/bootstrap.bundle.min.js"></script>
        
        <!-- add -->
        <link href="./style/style.css" rel="stylesheet"></link>

        <title>GraphyArty</title>
    </head>
    <body class="d-flex h-100 text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto text-center">
                <div>
                    <h3 class="float-md-start mb-0">GraphyArty</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link" aria-current="page" href="./index.html">Landing</a>
                        <a class="nav-link active" aria-current="page" href="./generator.html">Generator</a>
                    </nav>
                </div>
            </header>
            
            <main>
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="row" id='container-selector'>
                                <div class="col-12">
                                    <h1>Photo Loader</h1>
                                </div>
                                <div class="col-12">
                                    <img id="img-photo" src="./asset/example.jpg" class="rounded img-fluid" alt="Select your photo.">
                                </div>
                                <div class="col-12 d-grid">
                                    <button type="button" class="btn btn-light" id="button-select-photo"><b>Select Photo</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row" id='container-reader'>
                                <div class="col-12">
                                    <h1>Reader</h1>
                                </div>
                            </div>
                            <h1>Another!</h1>
                        </div>
                    </div>
                </div>
            </main>

            <footer class="mt-auto text-white-50 text-center">
                <p>Made by <a class="text-white" href="https://rockleona.github.io/intro">RockLeona</a> with ♥.</p>
            </footer>
        </div>
    </body>
</html>