<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="img-src 'self' data:; default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="img-src 'self' data:; default-src 'self'; script-src 'self'">

        <!-- Bootstrap -->
        <link href="./style/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
        <script src="./style/bootstrap/bootstrap.bundle.min.js"></script>
        
        <!-- add -->
        <link href="./style/style.css" rel="stylesheet"></link>

        <title>FotoCaptioner</title>
    </head>
    <body class="d-flex h-100 text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto text-center">
                <div>
                    <h3 class="float-md-start mb-0">FotoCaptioner</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link" aria-current="page" href="./index.html">Landing</a>
                        <a class="nav-link active" aria-current="page" href="./generator.html">Generator</a>
                    </nav>
                </div>
            </header>
            
            <main>
                <div class="container text-left">
                    <div class="row">
                        <div class="col-12 col-lg-6">
                            <div class="row" id='container-selector'>
                                <div class="col-12">
                                    <h1>Photo Loader</h1>
                                </div>
                                <div class="col-12">
                                    <img id="img-photo" src="./asset/example.jpg" class="rounded img-fluid" alt="Select your photo.">
                                </div>
                                <div class="col-12 d-grid gap-2">
                                    <button type="button" class="btn btn-light" id="button-select-photo"><b>Select Photo</b></button>
                                    <button type="button" class="btn btn-danger" id="button-demo"><b>Read Photo and Generate Text</b></button>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="row" id='container-reader'>
                                <div class="col-12">
                                    <h1>Reader</h1>
                                </div>
                                <div class="col-12">
                                    <ul>
                                        <li id="photo-machine">Machine : </li>
                                        <li id="photo-f-number">F-number :</li>
                                        <li id="photo-et">Exposure Time : </li>
                                        <li id="photo-iso">ISO </li>
                                        <li id="photo-fl">Focal Length : </li>
                                    </ul>
                                </div>
                                <div class="col-12">
                                    <!-- <h3>Metadata :</h3>
                                    <p id="p-metadata"></p> -->
                                </div>
                                <div class="col-12 d-grid gap-2">
                                    <button type="button" class="btn btn-light" id="button-copy-text"><b>Copy Text</b></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <div class="position-fixed bottom-0 end-0 p-3" id="toast-container">
                <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body text-black">
                            Successful copy text !
                        </div>
                        <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                </div>
              </div>

            <footer class="mt-auto text-white-50 text-center">
                <p>Made by <a class="text-white" href="https://rockleona.github.io/intro">RockLeona</a> with ♥.</p>
            </footer>
        </div>
    </body>
    <script src="../node_modules/exif-js/exif.js"></script>
    <script src="./script/generator-frontend.js"></script>
</html>