<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

        <!-- Bootstrap -->
        <link href="./style/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
        <script src="./style/bootstrap/bootstrap.bundle.min.js"></script>
        
        <!-- add -->
        <link href="./style/style.css" rel="stylesheet"></link>
        <link href="./style/cover.css" rel="stylesheet"></link>

        <title>FotoCaptioner</title>
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">FotoCaptioner</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link active" aria-current="page" href="./index.html">Landing</a>
                        <a class="nav-link" href="./generator.html">Generator</a>
                    </nav>
                </div>
            </header>

            <main class="px-3">
                <h1>Easily complete your photograph article.</h1>
                <p class="lead">
                    Reading your professional photos metadata and shooting configs quickly.
                </p>
                <p class="lead">
                    <a href="./generator.html" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Let's Go</a>
                </p>
            </main>

            <footer class="mt-auto text-white-50">
                <p>Made by <a class="text-white" href="https://rockleona.github.io/intro" target="_blank">RockLeona</a> with ♥.</p>
            </footer>
        </div>
    </body>
</html>