<!DOCTYPE html>
<html class="h-100">
    <head>
        <meta charset="UTF-8">
        <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
        <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'">
        <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self'">

        <!-- Bootstrap -->
        <link href="./style/bootstrap/bootstrap.min.css" rel="stylesheet"></link>
        <script src="./style/bootstrap/bootstrap.bundle.min.js"></script>
        
        <!-- add -->
        <link href="./style/style.css" rel="stylesheet"></link>
        <link href="./style/cover.css" rel="stylesheet"></link>

        <title>GraphyArty</title>
    </head>
    <body class="d-flex h-100 text-center text-white bg-dark">
        <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
            <header class="mb-auto">
                <div>
                    <h3 class="float-md-start mb-0">GraphyArty</h3>
                    <nav class="nav nav-masthead justify-content-center float-md-end">
                        <a class="nav-link active" aria-current="page" href="./index.html">Landing</a>
                        <a class="nav-link" href="./generator.html">Generator</a>
                    </nav>
                </div>
            </header>

            <main class="px-3">
                <h1>Easily read your.</h1>
                <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
                <p class="lead">
                    <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white">Learn more</a>
                </p>
            </main>

            <footer class="mt-auto text-white-50">
                <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
            </footer>
        </div>
    </body>
</html>