/* Selector */
#img-photo {
    max-width: 95%;
    height: auto;
    padding: 5px;
}

/* Data */

li {
    margin: 0.1 rem;
}

#toast-container{
    z-index: 11;
}

#right-side-container{
    height: auto;
}